[submodule "llama-rpc-rce/ggml-standalone"]
	path = llama-rpc-rce/ggml-standalone
	url = https://github.com/ggml-org/ggml.git
[submodule "llama-rpc-rce/llama.cpp"]
	path = llama-rpc-rce/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "ollama"]
	path = ollama
	url = git@github.com:ollama/ollama.git
